/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2013, 10:44:10 AM
    Author     : YunPeng
*/

.cloudbox {background: #fff;padding:25px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ddd;}
.spanline{margin:0;padding: 0;border-top: 1px solid #ddd;}