</div>
<!-- end: Content -->

</div><!--/row-->		

</div><!--/container-->

<div class="clearfix"></div>

<footer>
    <p>
        <span style="text-align:left;float:left">&copy; 2013 Awezome. </span>
        <span class="hidden-phone" style="text-align:right;float:right">Template by <a href="http://bootstrapmaster.com/demo/genius/">Genius</a></span>
    </p>
</footer>
<!-- start: JavaScript-->
<!--[if !IE]>-->
<script src=" <?=URL::link()?>assets/js/jquery-2.0.3.min.js" ></script>
<!--<![endif]-->

<!--[if IE]>
        <script src=" <?=URL::link()?>assets/js/jquery-1.10.2.min.js" ></script>
<![endif]-->

<!--[if !IE]>-->
<script type="text/javascript">
    window.jQuery || document.write("<script src=' <?=URL::link()?>assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>
<!--<![endif]-->

<!--[if IE]>
        <script type="text/javascript">
        window.jQuery || document.write("<script src=' <?=URL::link()?>assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        </script>        
<![endif]-->
<script src=" <?=URL::link()?>assets/js/jquery-migrate-1.2.1.min.js" ></script>
<script src=" <?=URL::link()?>assets/js/bootstrap.min.js" ></script>
<!-- page scripts -->
<script src=" <?=URL::link()?>assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- theme scripts -->
<script src=" <?=URL::link()?>assets/js/custom.min.js"></script>
<script src=" <?=URL::link()?>assets/js/core.min.js"></script>

<!-- end: JavaScript-->
</body>
</html>