<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><?php echo Z::$controller.' - '.Z::$action.' - ';?>Admin</title>
        <meta name="description" content="Genius Dashboard - Bootstrap Admin Template.">
        <meta name="author" content="Łukasz Holeczek">
        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end: Mobile Specific -->
        <link href=" <?=URL::link()?>assets/css/bootstrap.min.css"  rel="stylesheet"/>
        <link href=" <?=URL::link()?>assets/css/style.min.css" rel="stylesheet"/>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>                
                <script src=" <?=URL::link()?>assets/other/html5.js"></script>
                <script src=" <?=URL::link()?>assets/js/respond.min.js" ></script>
        <![endif]-->
    </head>

    <body>
        <!-- start: Header -->
        <header class="navbar">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>		
                <a class="navbar-brand col-md-2 col-sm-1 col-xs-2" href="<?php echo URL::web();?>"><span>Admin</span></a>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown hidden-xs">
                            <a class="btn dropdown-toggle" href="<?php echo URL::web();?>" >
                                <i class="fa  fa-home"></i>
                            </a>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="btn dropdown-toggle" href="<?php echo URL::web();?>admin.php/login/out/" >
                                <i class="fa  fa-sign-out"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>	
        </header>
        <!-- end: Header -->

        <div class="container">
            <div class="row">

                <!-- start: Main Menu -->
                <div id="sidebar-left" class="col-lg-2 col-sm-1 ">

                    <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                        <ul class="nav main-menu">
                            <li><a href="<?php echo URL::web();?>admin.php" ><i class="fa fa-bar-chart-o"></i><span class="hidden-sm text"> Dashboard</span></a></li>
                            <li>
                                <a class="dropmenu" href="#" ><i class="fa  fa-edit"></i><span class="hidden-sm text"> Post</span> <span class="chevron closed"></span></a>
                                <ul>
                                    <li><a class="submenu" href="<?=URL::app()?>post/lists/"><i class="fa fa-angle-double-right"></i><span class="hidden-sm text"> Post Lists</span></a></li>
                                    <li><a class="submenu" href="<?=URL::app()?>post/edit/" ><i class="fa fa-angle-double-right"></i><span class="hidden-sm text"> Post Edit</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropmenu" href="#" ><i class="fa  fa-file-text-o"></i><span class="hidden-sm text"> Page</span> <span class="chevron closed"></span></a>
                                <ul>
                                    <li><a class="submenu" href="<?=URL::app()?>pages/lists/"><i class="fa fa-angle-double-right"></i><span class="hidden-sm text"> Page Lists</span></a></li>
                                    <li><a class="submenu" href="<?=URL::app()?>pages/edit/" ><i class="fa fa-angle-double-right"></i><span class="hidden-sm text"> Page Add</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
                </div>
                <!-- end: Main Menu -->

                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">
                    <div class="row">	
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#"><?php echo Z::$controller?></a></li>
                                <li class="active"><?php echo Z::$action?></li>
                            </ol>
                        </div><!--/col-->

                    </div><!--/row-->