<h3 class="heading">Page Lists</h3>
<div class="bg-white p-30 m-t-30 b-bot-2px-gray-light b-right-1px-gray-light">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ( $results as $result){?>
            <tr>
                <td><input type="checkbox" name="row_sel" class="select_row"/></td>
                <td><?php echo $result['title'];?></td>
                <td><?php echo $result['name'];?></td>
                <td><?php echo $result['addtime']; ?></td>
                <td><a href="<?= URL::controller()?>edit/<?=$result['pageid']?>">
                    <span class="label label-primary">Edit</span></a>
                    <a href="<?= URL::web()?>blog/pages/<?=$result['name']?>">
                        <span class="label label-success">View</span></a>
                    <a href="<?= URL::controller()?>delete/<?=$result['pageid']?>">
                        <span class="label label-danger">Delete</span></a>
                </td>
            </tr>
            <?php }?>
            </tbody>
        </table>
    </div>
    <div><?php echo $newpage; ?></div>
</div>
