<h3 class="heading">Post Lists</h3>
<div class="bg-white p-30 m-t-30 b-bot-2px-gray-light b-right-1px-gray-light">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>作者</th>
                <th>发表时间</th>
                <th>审核</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ( $results as $result){?>
            <tr>
                <td><input type="checkbox" name="row_sel" class="select_row"/></td>
                <td><?php echo $result['title'];?></td>
                <td></td>
                <td><?php echo $result['addtime']; ?></td>
                <td></td>
                <td>
                    <a href="<?= URL::controller()?>edit/<?=$result['pid']?>/">
                        <span class="label label-primary">Edit</span></a>
                    <a href="<?= URL::web()?>home/post/show/<?=$result['pid']?>/">
                        <span class="label label-success">View</span></a>
                    <a href="<?= URL::controller()?>delete/<?=$result['pid']?>/">
                        <span class="label label-danger">Delete</span></a>
                </td>
            </tr>
            <?php }?>
            </tbody>
        </table>
    </div>
    <br />
    <div>
        <?php echo $newpage; ?>
    </div>
</div>

