<h3 class="heading">Post Type</h3>
<div class="row">
    <div class="bg-white p-30 m-t-30 b-bot-2px-gray-light b-right-1px-gray-light">
            <div class="table-responsive">
                <button class="btn btn-primary" data-trigger="modal" href="../posttype/edit/" data-title="Add New Post Type" class="btn">Add New Post Type</button>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>标题</th>
                        <th>Parent</th>
                        <th>Order</th>
                        <th>位置</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ( $results as $result){?>
                    <tr>
                        <td><input type="checkbox" name="row_sel" class="select_row"/></td>
                        <td><?php $s=$result['level']-1;for($i=0;$i<$s;$i++){echo '--';}?><?=$result['cname']?></td>
                        <td>Level Menu : <?=$result['level']?></td>
                        <td><?=$result['torder']?></td>
                        <td></td>
                        <td>
                            <a href="<?= URL::controller()?>">
                                <span class="label label-primary">Update</span></a>
                            <a href="<?= URL::controller()?>">
                                <span class="label label-danger">Delete</span></a>
                        </td>
                    </tr>
                    <?php }?>
                    </tbody>
                </table>
            </div>
    </div>
</div> <!-- /.row -->
