<h3 class="heading">User Lists</h3>
<div class="p-30 col-sm-10">
    <form role="form" class="form-horizontal" action="<?= URL::controller()?>save/" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-5">
                <?php if(isset($noname)){?>
                <input type="text" class="form-control" name="username" readonly="true" placeholder="User Name" value="<?=$results['username']?>">
                <?php }else{?>
                <input type="text" class="form-control" name="newusername" placeholder="User Name" value="<?=$results['username']?>">
                <?php }?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nick Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="nickname" placeholder="Nick Name" value="<?=$results['nickname']?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control"  name="email" placeholder="Email" value="<?=$results['email']?>">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-lg btn-primary">Save changes</button>
            </div>
        </div>
    </form>


</div>
