</div>
<div class="large-3 medium-4 columns">
    <div class="hide-for-small">
        <div class="sidebar">
            <h5>Awezome Guide</h5>
            <form>
                <input name="search" tabindex="1" id="autocomplete" type="search" placeholder="Search Here ..." autocomplete="off">
            </form>
            <nav>
                <ul class="side-nav">
                    <li class="heading">Setup</li>
                    <li><a href="http://foundation.zurb.com/docs/index.html">Getting Started</a></li>
                    <li><a href="http://foundation.zurb.com/docs/css.html">CSS</a></li>
                    <li class="active"><a href="./f_files/f.htm">Sass</a></li>
                    <li class="divider"></li>
                    <li class="heading">Setup</li>
                    <li><a href="http://foundation.zurb.com/docs/index.html">Getting Started</a></li>
                    <li><a href="http://foundation.zurb.com/docs/css.html">CSS</a></li>
                    <li class="active"><a href="./f_files/f.htm">Sass</a></li>
                </ul>
            </nav>
        </div>  
    </div>
</div>
</div>

</section>
<div class="zurb-footer-bottom">
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
          <li><a href="/contact" class="mail"></a></li>
        </ul>
     </div>
     <div class="medium-8 medium-8 pull-4 columns">
        <a href="http://www.zurb.com" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="http://zurb.com/about">About</a></li>
          <li><a href="http://zurb.com/blog">Blog</a></li>
          <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
          <li><a href="http://zurb.com/contact">Contact</a></li>
          <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
       </ul>
        <p class="copyright">Copyright &copy; 2013-<?php echo date('Y');?> <a href=" <?=URL::web()?>">Awezome Zone</a> , Powered by <a href="">CloudPHP</a> , Template by <a href="http://foundation.zurb.com/">Foundation</a> , Theme by <a href=" <?=URL::web()?>">Awezome</a> .</p>
    </div>          
  </div>
</div>
<a class="exit-off-canvas"></a>
</div>
</div>

<script src=" <?=URL::link()?>js/jquery.js"></script>
<script src=" <?=URL::link()?>js/foundation.min.js"></script>
<script>
   $(document).foundation();
</script>

</body>


</html>