<br /><br />
<div class="row">
    <div class="large-3 columns">&nbsp;</div>
    <div class="large-6 columns">
        <form name="login" action="<?php echo URL::web() ; ?>admin.php/login/in/" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label>Username</label>
                    <input type="text"  name="username" placeholder="large-12.columns" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Password</label>
                    <input type="password"  name="password" placeholder="large-12.columns" />
                </div>
            </div>
            <button type="submit" class="radius button">Login</button>
        </form>
    </div>
    <div class="large-3 columns left"></div>
</div>
