<ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Post</a></li>
    <li class="unavailable"><a href="#">Gene Splicing</a></li>
    <li class="current"><a href="#">AWEZOME</a></li>
</ul>
<article class="cloudbox">
    <h3><a href="#"><?php echo $result['title'];?></a></h3>

    <div class="spanline"></div>
    <h6>
        Written by <a href="#"><?=$username?></a> on <?php echo date('F d, Y.',time($result['addtime']));?>
        <?php if(Z::$online){?><a href="<?=URL::web()?>post/edit/<?php echo $result['pid'];?>/">Edit</a><?php }?>
    </h6>

    <p><?php echo $result['text'];?></p>
</article>
<br/>
<article class="cloudbox">
    <div class="row">
        <div class="large-12 columns">
            <div id="SOHUCS"></div>
            <script>
                (function () {
                    var appid = 'cyr5joKV7',
                            conf = 'prod_a88a2c9bca07bad961f1e3264e3fe61c';
                    var doc = document,
                            s = doc.createElement('script'),
                            h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                    s.type = 'text/javascript';
                    s.charset = 'utf-8';
                    s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf=' + conf + '&appid=' + appid;
                    h.insertBefore(s, h.firstChild);
                    window.SCS_NO_IFRAME = true;
                })()
            </script>
        </div>
    </div>
</article>
<br/>

