@charset "utf-8";
body {background: #eee;margin:0 0;padding:0 0;}
#container_top{background: #CA0002;width:100%;height:auto;margin:0 auto;padding:0 auto;font:14px "微软雅黑",Simsun;overflow:hidden;}
#container{width:100%;margin:0 auto;padding:0 auto;font:12px "微软雅黑",Simsun;overflow:hidden;}
#content{padding:0 10px;background:#fff;width:960px;height:auto;margin:0 auto;padding:0 auto;}

img{border:0} 
hr{width:100%;height:0px;border-top:1px solid #C0C0C0;border-bottom:1px solid #fff;margin:0px;padding:0px;overflow:hidden;}
a {color:#000;text-decoration:none;font-size:14px;}
a:hover {text-decoration:underline;color:red;cursor:pointer}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.mr10{margin-right:10px}
/***********************************************HEADER   **/

.body_top_login{width: 100%;height:30px;background:#B60002;border-bottom:1px solid #D36667;margin: 0px auto;}
.body_top_login_inner{width:960px;margin: 0px auto;line-height:30px;color:#fff;font-size:14px;font-weight:bold}
.body_top_login_inner a{color:#fff;}
.body_top_login .left{width:auto;height:100%;float:left;}
.body_top_login .right{width:auto;height:100%;float:right;}
.body_top_head{width:960px;height:130px;margin:0px auto;}
.body_top_head .logo{width:610px;height:170px;margin-left:20px;background:transparent url("../image/logo.png") no-repeat scroll center;float:left;}
.body_top_head .text{width:308px;height:170px;background:transparent url("../image/logo_img.jpg") no-repeat scroll center;float:right;}
.body_top_nav{height:36px;background-color:#B60002;}
.nav{width:962px;height:36px;margin:0px auto;}
.nav a{display:block;height:36px;padding:0px 12px;line-height:36px;text-align:center;text-decoration:none;color:#EEE;font-weight:600;float:left;}
.nav a:hover,.nav .current{color:#CA0002;background:#FFF url("../image/head_bg.png") repeat-x scroll 0px 0px;}
.nav div{height:36px;border-left:solid 1px #C12628;border-right:solid 1px #9A0002;float:left;}
.body_top_line{height:8px;background-color:#DFDFDF;}

/***********************************************MAIN   **/
#main{width:100%;height:auto;}

.main_top{width:100%;height:330px;}

.main_top_login{width:248px;}
.main_reg{width:208px;height:99px;margin:10px 20px 0 20px;padding-top:20px; border-bottom:1px solid #ddd;}
.main_reg img{margin-left:10px;}
.main_reg #login_reg{width:100px;height:32px;border:0;margin-left: 50px;background:url("../image/login_reg.png") no-repeat; }
.main_news{width:218px;height:160px;padding-top:10px;padding-left:20px;}
.main_news span{width:214px;height:20px;color:#FF6600;display:block;font-size:14px;overflow:hidden}
.main_news span a{color:#FF6600;font-size:14px;}
.main_top_act{width:248px;}
.main_top_list{width:307px;float:left;height:330px;margin:10px 0 0 10px}
.main_top_list_left{width:190px;height:100%;float:left;display: block;overflow: hidden;margin-left:5px;line-height:25px;}
.main_top_list_right{width:60px;height:100%;float:right;margin-right:10px;line-height:25px;}
.main_act{width:100%;height:27px;}
.main_act_pic{width:16px;height:16px;float:left;margin-left:20px;text-align:center;color:#fff;margin-top:5px;background:url("../image/list_pic.png") no-repeat;}
.main_act_left{width:127px;height:100%;float:left;display: block;overflow: hidden;margin-left:5px;line-height:25px;}
.main_act_right{width:60px;height:100%;float:right;margin-right:10px;line-height:25px;}
.main_top_map{width:488px;}
.main_top_map_left{width:160px;height:300px;margin-left:20px;float: left;}
.main_top_map_big{width:100%;height:130px;margin:10px 0 16px 0;text-align: center;}
.main_top_map_big span{height:20px;display:block;overflow: hidden}
.main_top_map_right{width:288px;height:300px;margin-right:20px;float: right;}
.main_top_map_small{width:120px;height:95px;margin:2px 0 2px 22px;float:right;text-align: center;}
.main_top_map_small img{width:120px;height:75px;}
.main_top_map_small span{height:20px;display:block;overflow: hidden}
.main_top_hot{width:198px;}
.main_hot{width:100%;height:27px;line-height:25px;}
.main_hot_left{width:79px;height:100%;float:left;padding-left:20px;}
.main_hot_left span{color: green}
.main_hot_right{width:79px;height:100%;float:left;padding-right:20px;}
.main_hot_right span{color: green}

.main_pro{width:958px;height:auto}
.pro_cont{width:938px;height:auto;margin-left:20px;}
.pro_cont span{height:20px;line-height: 20px;padding-right: 10px; font-size:14px;color:#666}

.main_bottom{width:958px;}
.main_bottom_content{width:100%;}
.main_bottom_content_inner{padding:15px 4px 15px 4px;}
.main_bottom_content_for{width:190px;float:left;}
.main_bottom_content_for_inner{padding-left:15px;padding-right:15px;}
.main_bottom_content_pic{width:100%;height:100px; }
.main_bottom_content_txt{width:100%;height:50px;font-weight:bold;text-align:center;overflow:hidden;}
.main_bottom_content_txt span{display:block;height:50px;line-height:50px}

.main_tool{width:958px;height:170px}
.main_bar_for{width:70px;height:100px;margin:20px 24px;float:left;text-align: center;}
.main_bar_for img{width:62px;height:62px;border: 4px solid #ddd}
.main_bar_for span{width:100%;height:60px;font-size:14px;}

/***********************************************PAGE **/
.page_top{width:958px;}
.page_top_city{width:916px;height:50px;margin-left: 20px;border-bottom:1px solid #ddd;}
.page_top_city_span{width:516px;display: block;font-size: 26px;line-height: 50px;float:left;}
.page_top_city_search{width:400px;height:50px;float:left;}
.page_top_tourneed{width:916px;height:40px; padding:10px 20px;}
.page_top_tourneed span{margin-right:10px;}
.page_bottom{width:100%;height:auto;}
.page_bottom_city{width:178px;float:left;}
.page_city{width:100%;height:27px;line-height:25px;font-size:14px;border-bottom:1px dashed #ddd;}
.page_city_left{width:128px;height:100%;float:left;padding-left:20px;}
.page_city_right{width:10px;height:100%;float:right;padding-right:20px;}
.page_bottom_list{width:695px;float:left;}
.page_list_top{height:30px;margin:0 10px; border-bottom:1px solid #ddd; font-size:14px;}
.page_list_top a{font-size:14px;}
.page_list_top span{line-height:30px;margin-left: 10px;float:left;}
.page_list_bottom{height:30px;padding-left:20px;line-height:30px;}
.page_list{width:100%;height:30px;border-bottom:1px dashed #ddd;}
.page_list_inner{padding: 0 10px}
.page_list_right_top{height:30px;}
.page_list_right_top_left{float:left; font-weight:700;line-height:30px;}
.page_list_right_top_left a{color:#0099cc;font-size:14px}
.page_list_right_top_right{float:right;}
.page_list_right_main{height:78px; overflow:hidden; line-height:25px;}
/***********************************************userinfor **/
.userinfor_top{margin:10px 25px; font-size:14px; font-weight:700; border-bottom:1px solid #ddd; padding-bottom:8px;}
.userinfor{margin:15px 30px;font-size:14px; }
.userinfor span{height:30px;line-height:30px;}
.userinfor_title{height:30px;font-size:16px; font-weight:700;}
.userinfor_line{color:#999999;}
.userinfor_point{font-size:24px; font-weight:700; padding:140px 200px; }
.user_page_list_top{height:30px;margin:0 10px; border-bottom:1px solid #ddd; font-size:15px;}
.user_page_list_top a{font-size:15px;}
.user_page_list_top span{line-height:30px;margin-left: 10px;float:left;}
.user_page_list_bottom{height:30px;padding-left:20px;line-height:30px;}
.user_page_list{width:100%;height:120px;border-bottom:1px dashed #ddd;}
.user_page_list_inner{padding:10px 20px 10px 20px}
.user_page_list_left{width:160px;height:100px;float:left;background: #eee}
.user_page_list_right{width:450px;height:100px;margin-left:20px;float:left;background: #fcfcfc;padding:0 10px; border:1px solid #f5f5f5;}
.user_page_list_right_top{height:20px;}
.user_page_list_right_top_left{float:left; font-weight:700;}
.user_page_list_right_top_left a{color:#0099cc}
.user_page_list_right_top_right{float:right;}
.user_page_list_right_main{height:78px; overflow:hidden; line-height:25px;}
.user_album{height:130px;width:174px;padding-top:5px;float:left;text-align:center;border-bottom:1px solid #53C2B4}
.user_album img{background:#eee}
.user_album span{display:block;}

.photo_place{height: 30px;line-height:30px;margin:0 10px;font-size:15px;}
.photo_place span{color:#00A08D;font-weight: bold;}
.photo_place span a{color:#00A08D;font-size:15px;}
/***********************************************REG **/
.reg{padding-top:40px;padding-left: 240px;border:1px solid #ddd;}
.reg_input{width:410px;height: 30px;margin-top:10px;text-align:right;}
.reg_input span{padding-right: 10px;line-height:25px;height:25px;font-size:14px;}
.reg_input input{width:300px;height:25px;border: 1px solid #53C2B4;}
.for_name{width:100px;height:25px;line-height:25px;font-size:14px;float:left;padding-right:5px}
.for_input{width:300px;height:25px;line-height:25px;font-size:14px;float:left;text-align:left;}
.for_input select{height:25px; width:auto; border: 1px solid #53C2B4;}
.reg_ques{width:400px; height:30px; margin-top:20px; font-size:14px; text-align:right;}
.safeques{height:25px; width:290px; border: 1px solid #53C2B4;}
.reg_note{width:400px;height: 20px;text-align: right;line-height:20px;}
.reg_note span{color: #FF6663;}
.reg_line{padding-left:30px; color:#555555;}
.reg_btn{height: 100px;padding-left: 50px;padding-top: 50px}
.reg_btn #login_btn{cursor:pointer;width:100px;height:32px;border:0;margin-left: 50px;background:url("../image/login_login.png") no-repeat; }
.reg_btn #reg_btn{cursor:pointer;width:100px;height:32px;border:0;margin-left: 50px;background:url("../image/login_reg.png") no-repeat; }
/***********************************************REG_STATUS **/
.reg_status{padding-top:100px;padding-left: 300px;border:1px solid #ddd;height:180px; width:658px;}
.reg_status a{color:#006699}
/***********************************************ABOUT **/
.about_main{width:958px;height: auto;float:left;}
.about_main_place{height: 30px;line-height:30px;margin:0 20px;}
.about_main_place span{color:#00A08D;font-weight: bold}
.about_main_place span a{color:#00A08D}
.about_main_title{height:50px;margin: 0 20px;padding:10px;background-color:#F3FAFC ;border-top:3px solid #53C2B4;border-bottom:1px solid #53C2B4;}
.about_main_title span{font-size: 24px;display: block;text-align: center;}
.about_main_content{margin: 0 20px;padding:30px 10px;}
/***********************************************COMMON **/
.main_top_login,.main_top_flash,.main_top_act,.main_top_map,.main_top_hot{float:left;height:330px;}
.main_top_list,.about_main,.tour_main,.main_pro,.main_tool,.main_top_login,.main_top_flash,.page_top,.page_bottom_city,.page_bottom_list,.main_top_act,.main_top_map,.main_top_hot,.main_bottom{border:1px solid #ddd;}

.main_bar{width:100%;height:30px;background:url("../image/box_bg.png") repeat-x;}
.main_bar span{height:30px;line-height:28px;padding-left:20px;font-size:14px;font-weight:bolder}
.main_r_span{width:100%;height:15px;clear:both;}
.main_top_c_span{width:10px;height:330px;float:left;}
/***********************************************FOOTER **/
#foot{width:100%;height:40px;border-top:1px solid #ddd;}
.foot_top{line-height:25px;text-align:center;float: right }
.foot_top span{float: left}
.foot_down{line-height:16px; text-align:center;float: left}
.foot_down span{float: left}

