<!DOCTYPE html>
<html lang="en" >
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Awezome Zone</title>
        <link rel="stylesheet" href=" <?=URL::link()?>css/docs.css" />
        <link rel="stylesheet" href=" <?=URL::link()?>css/cloudphp.css" />
        <script src="js/modernizr.js"></script>
    </head>
    <body class="antialiased hide-extras" style="">
       <div class="marketing off-canvas-wrap">
            <div class="inner-wrap">
                <nav class="top-bar docs-bar hide-for-small" data-topbar="" style="">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href=" <?=URL::web()?>">Awezome Zone</a></h1>
                        </li>
                    </ul>  
                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider"></li>
                            <li><a href=" <?=URL::web()?>" class="">Home</a>
                            </li>
                            <li class="divider"></li>
                            <li class="has-dropdown not-click">
                                <a href="#" class="">Develop</a>
                                <ul class="dropdown"><li class="title back js-generated"><h5><a href=" <?=URL::web()?>">Back</a></h5></li>
                                    <?php foreach($news_type_head_arrs as $news_type_arr){?>
                                    <li><a href="<?php echo URL::app().'catalog/'.$news_type_arr['cname'];?>">
                                            <?=$news_type_arr['cname']?></a> <li>
                                        <?php }?>          
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="has-form">
                                <a href="<?php echo URL::web().'admin/';?>" class="small button">
                                    <?php if(Z::$online){?>Admin<?php }else{?>Login<?php }?>
                                </a>
                            </li></ul>
                    </section>
                </nav>
                <nav class="tab-bar show-for-small">
                    <a class="left-off-canvas-toggle menu-icon">
                        <span>Awezome Zone</span>
                    </a>
                </nav>
                <div class="row">
                    <div class="large-12 columns">
                        <h1><a href=" <?=URL::web()?>">Awezome Zone </a><small>Hello , I Am Awezome !</small></h1>
                        <hr />
                    </div>
                </div>
                <aside class="marketing-left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label class="first">Awezome Zone</label></li>
                        <li><a href="http://Awezome Zone.zurb.com/">Home</a></li>
                    </ul>

                    <hr>

                    <ul class="off-canvas-list">
                        <li><label>Develop</label></li>
                        <?php foreach($news_type_head_arrs as $news_type_arr){?>	
                        <li><a href="<?php echo URL::app().'post/lists/'.$news_type_arr['cname'];?>/">
                                <?=$news_type_arr['cname']?></a> <li>
                            <?php }?>       

                            <hr>
                            <div class="zurb-links">
                                <ul class="top">
                                    <?php foreach($pages as $page){?>
                                    <li><a href="<?=URL::app()?>pages/show/<?php echo $page['name']?>/"><?php echo $page['name']?></a></li>
                                    <?php }?>
                                </ul>
                            </div>
                    </ul>
                </aside>
                <section role="main">
                    <div class="row">
                        <div class="large-9 medium-8 columns">